
/* Your CSS Code here. */
.main{
	width:200px;
	height:30px;
	background-color:purple;
	
	padding:10px;
	border-left:5px solid green;

}
#heading{
text-decoration:underline;
	font-size:20px;
	color:rgb(255 255 255);
}